
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.conteudo {
    display: flex;
    height: 82%;
}

.side-bar {
    background: white;
    width: 15%;
    min-width: 160px;
    height: 100%; 
    border-right: 1px solid rgba(0, 0, 0, 0.185);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.brand-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.logo {
    width: 65%;
    min-width: 120px;
    align-self: center;
    padding-top: 15px;
}

.descricao {
    align-self: center;
    font-size: 0.9em;
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    padding: 10px;
}

.button-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
    max-width: 100%;
    gap: 30px;
}

.btn-filtro {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 10%;
    text-align: left;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.conteudo-direita {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: white;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sobre {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 75%;
    display: flex;
}

#map {
    height: 100%;
    width: 100%;
}

.metricas {
    background: rgba(144, 238, 144, 0.288);
    width: 100%;
    height: 12%;
}

footer {
    background: #0C482C;
    width: 100%;
    height: 6%;
    display: flex; 
    align-items: center;
    gap: 15px;
    
}

.img-folha {
    width: 30px;
    margin-left:25px;
}

.footer-text {
    color:#d1efd3 ;

}

.icons {
    width:25px ;
    margin-right: 7px;
}